In [1]:
import pandas
import os

In [4]:
#Listing titles data
listing_titles = pandas.read_csv("./Data/Listing_Titles.tsv", sep="\t", header=0)

In [5]:
listing_titles.head()

   Record Number                                              Title
0              1  Supreme Nike SB Dunk High By any Means Red US1...
1              2  New Balance 530 Männer und Frauen Laufschuhe m...
2              3                     ♥ MICHAEL KORS Sneaker Gr 39 ♥
3              4             New Balance ML 574 EGO Turnschuhe grün
4              5  Nike air jordan 9 og , space jam , hare , bugs...

In [8]:
#Training data for Tagged_Titles
Train_Tagged_Titles = pandas.read_csv("./Data/Train_Tagged_Titles.csv")

In [9]:
Train_Tagged_Titles.head()

,Record Number,Title,Token,Tag,Unnamed: 4
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,Modell,NaN
1,1,Supreme Nike SB Dunk High By any Means Red US1...,Nike,Marke,NaN
2,1,Supreme Nike SB Dunk High By any Means Red US1...,SB,Produktlinie,NaN
3,1,Supreme Nike SB Dunk High By any Means Red US1...,Dunk,NaN,NaN
4,1,Supreme Nike SB Dunk High By any Means Red US1...,High,Schuhschaft-Typ,NaN

In [ ]:
!pip install spacy
import spacy
import csv

# Load the pre-trained SpaCy model
nlp = spacy.load("en_core_web_sm")

In [ ]:
# Open the input files
with open("Train_Tagged_Titles.tsv", "r", encoding="utf-8") as train_file, \
        open("Listing_Titles.tsv", "r", encoding="utf-8") as listing_file:

    train_reader = csv.reader(train_file, delimiter=",")
    listing_reader = csv.reader(listing_file, delimiter=",")

    # Skip the header row
    next(train_reader)
    next(listing_reader)

    # Create an output file to store the extracted and labeled aspects
    with open("Extracted_Aspects.tsv", "w", encoding="utf-8", newline="") as output_file:
        writer = csv.writer(output_file, delimiter="\t")
        writer.writerow(["Record Number", "Title", "Token", "Tag"])

        # Process each row in the train file
        for row in train_reader:
            record_number = row[0]
            title = row[1]

            # Apply NER on the title
            doc = nlp(title)

            # Extract and label the aspects
            for token in doc:
                token_text = token.text
                token_tag = token.ent_type_

                if token_tag != "":
                    writer.writerow([record_number, title, token_text, token_tag])

        # Process each row in the listing file
        for row in listing_reader:
            record_number = row[0]
            title = row[1]

            # Apply NER on the title
            doc = nlp(title)

            # Extract and label the aspects
            for token in doc:
                token_text = token.text
                token_tag = token.ent_type_

                if token_tag != "":
                    writer.writerow([record_number, title, token_text, token_tag])

In [ ]:
print("Aspect extraction and labeling completed.")